  .container{
    padding:20px;
  }

  .popup{
    border-color: white;
  }

  .row-align{
    justify-content: center;
  }

  ::placeholder {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }

  .popup-content {
    background-color: black;
  }